
{% macro getImg(id, data) %}
	<li role="checkbox" aria-checked="true" class="nftb-image">
		<div class="nftb-image-preview">
			<div class="thumbnail">
				<div class="centered">
					<img src="{{ data ? asset(data|nl_file_uri) }}">
				</div>
			</div>
		</div>
	</li>
{% endmacro %}

{% block netliva_file_type_widget %}
	{% import _self as func %}
	<{{ element|default('div') }} class="nftb-area">
		{% set file_names = "" %}
		{% if form.vars.data and (form.vars.data.fileType is defined or form.vars.data.files is defined) %}
			<ul class="nftb-images" id="{{ form.vars.id }}_images_area">
				{% if form.vars.data and form.vars.data.fileType is defined %}
					{% if form.vars.data.fileType == "image" %}
						{{ func.getImg (form.vars.id, form.vars.data) }}
					{% endif %}
					{% if form.vars.data.filename is defined %}
						{% set file_names = form.vars.data.filename %}
					{% endif %}
				{% elseif form.vars.data and form.vars.data.files is defined %}
					{% for data in form.vars.data.files %}
						{% if data.fileType == "image" %}
							{{ func.getImg (form.vars.id, data) }}
						{% endif %}
						{% if data.filename is defined %}
							{% set file_names = (file_names ? file_names ~ ", ") ~ data.filename %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</ul>
		{% endif %}
		{% if bootstrap %}
			<{{ element|default('div') }} class="custom-file">
		{% endif %}
		{%- set type = type|default('file') -%}
		{{- block('form_widget_simple') -}}
		{% if bootstrap %}
			<label for="{{ form.vars.id }}" class="custom-file-label">
				{%- if file_names -%}
					{{- file_names -}}
				{%- elseif attr.placeholder is defined -%}
					{{- translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain) -}}
				{%- endif -%}
			</label>
		{% endif %}
		{% if bootstrap %}
			</{{ element|default('div') }}>
		{% endif %}
	{% if form.vars.data and (form.vars.data.fileType is defined or form.vars.data.files is defined) and deletable %}
		<input type="button"
			   class="{{ bootstrap?"btn btn-warning" }}"
			   id="{{ form.vars.id }}_delete"
			   data-othertext="{{- translation_domain is same as(false) ? "vazgeç" : "vazgeç"|trans({}, translation_domain) -}}"
			   value="{{- translation_domain is same as(false) ? "sil" : "sil"|trans({}, translation_domain) -}}"
		/>
	{% endif %}
	</{{ element|default('div') }}>
	{% if bootstrap %}
		<script type="text/javascript">
			document.getElementById("{{ form.vars.id }}").addEventListener("change",function () {
				var inp = document.getElementById('{{ form.vars.id }}');
				var label = this.parentNode.getElementsByClassName("custom-file-label")[0];
				if (inp.files.length == 1)
				{
					label.innerHTML = inp.files.item(0).name;
				}
				else if (inp.files.length > 1)
				{
					label.innerHTML = inp.files.length + ' {{ translation_domain is same as(false) ? "dosya seçildi" : "dosya seçildi"|trans({}, translation_domain) }}';
				}
				else
				{
					fullPath = inp.value;
					if (fullPath) {
						var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
						var filename = fullPath.substring(startIndex);
						if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
							filename = filename.substring(1);
						}
					}
					label.innerHTML = filename;
				}
			});
		</script>
	{% else %}
		<script type="text/javascript">
			document.getElementById("{{ form.vars.id }}").classList.remove("custom-file-input");
		</script>
	{% endif %}
	{% if form.vars.data and (form.vars.data.fileType is defined or form.vars.data.files is defined) and deletable %}
		<script type="text/javascript">
			document.getElementById("{{ form.vars.id }}_delete").addEventListener("click",function () {
				var field = document.getElementById("{{ form.vars.id }}");
				var img = document.getElementById("{{ form.vars.id }}_images_area");
				var label = this.parentNode.getElementsByClassName("custom-file-label")[0];
				var othertext = this.dataset.othertext;
				this.dataset.othertext = this.value;
				this.value = othertext;
				if (this.dataset.delete == "on")
				{
					this.dataset.delete = "off";
					field.value = "";
					field.type = "file";
					if (field.getAttribute('multiple'))
					{
						var name = field.getAttribute('name')
						if (name.substr(-2) != '[]')
						{
							field.setAttribute('name', name+'[]');
						}
					}
					if (img)
					{
						img.style.display = img.dataset.display;
						if (label != undefined)
							label.style.display = label.dataset.display;
					}
					if (field.parentNode.classList.contains('custom-file'))
						field.parentNode.style.display = "";
				}
				else
				{
					this.dataset.delete = "on";
					field.type = "hidden";
					field.value = "delete";
					if (field.getAttribute('multiple'))
					{
						var name = field.getAttribute('name')
						if (name.substr(-2) == '[]')
						{
							field.setAttribute('name', name.substr(0,name.length-2));
						}
					}
					if (img)
					{
						img.dataset.display = img.style.display;
						img.style.display = "none";
						if (label != undefined)
						{
							label.dataset.display = label.style.display;
							label.style.display = "none";
						}
					}
					if (field.parentNode.classList.contains('custom-file'))
						field.parentNode.style.display = "none";
				}
				return false;
			})
		</script>
	{% endif %}
	<style>
		.nftb-area { display: inline-flex; width: 100%; vertical-align: middle; gap: 5px; align-items: center; }
		.nftb-area .custom-file { display: inline-block; width: auto; vertical-align: middle; flex-grow: 1; }
		#{{ form.vars.id }}_images_area { margin: 0; padding: 0; display: inline-block;vertical-align: middle; }
		#{{ form.vars.id }}_images_area .nftb-image {
			position: relative; float: left; padding: 3px; margin: 0; color: #444; cursor: pointer; list-style: none; text-align: center;
			-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; width: 50px; box-sizing: border-box;
		}

		#{{ form.vars.id }}_images_area .nftb-image-preview { position: relative; box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05); background: #eee; cursor: pointer; }
		#{{ form.vars.id }}_images_area .nftb-image-preview:before { content: ""; display: block; padding-top: 100%; }
		#{{ form.vars.id }}_images_area .nftb-image .thumbnail {overflow: hidden;position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 1;transition: opacity .1s;}
		#{{ form.vars.id }}_images_area .nftb-image .thumbnail .centered {position: absolute;top: 0;left: 0;width: 100%;height: 100%;-webkit-transform: translate(50%,50%);transform: translate(50%,50%);}
		#{{ form.vars.id }}_images_area .nftb-image .thumbnail:after {content: "";display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);overflow: hidden;}


		#{{ form.vars.id }}_images_area .nftb-image .thumbnail .centered img {-webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
		#{{ form.vars.id }}_images_area .nftb-image .thumbnail img { position: absolute; top: 0;left: 0; max-height: 100%; }

	</style>
{% endblock %}
